<h1>The Sauce Behind The Curtain</h1>
<article>
  <% @posts.each do |post| %>
    <div class= 'box'>
      <h3><%= link_to post.title, post_path(post) %></h3>
      <p><%= post.body %></p>
      <%= render 'post_options', post: post %>
    </div><br />
  <% end %>
</article>
<div>
  <% if user_signed_in? %>
    <%= link_to "Trash Talk", new_post_path %>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign In', new_user_session_path %>
    <%= link_to 'Sign Up', new_user_registration_path %>
  <% end %>
</div>
